<?xml version="1.0" encoding="UTF-8"?>
<suite name="Test Suite">
    <test name="GUI Tests">
        <classes>
            <class name="GUITests.UserRegister"/>
            <class name="GUITests.UserLogout">
                <methods>
                    <include name="userLogOut" depends-on-methods="testAutomationRegisterUser"/>
                </methods>
                <methods>
                    <include name = "UserRegisterAPI"  />
                </methods>
            </class>
        </classes>
    </test>
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>

</suite>
